version: "3"
services:
  pgrouting:
    image: pgrouting/pgrouting:%%PG_MAJOR%%-%%POSTGIS_VERSION%%-%%PGROUTING_VERSION%%
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
volumes:
  db-data:
