name: Docker pgRouting CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  make-docker-images:
    strategy:
      fail-fast: false
      matrix:
        postgres: [14, 15, 16, 17, 18]
        postgis: [3.5, 3.6]
        pgrouting: ['3.7', '3.8', '4.0', 'main', 'develop']
        exclude:
          - postgres: 18
            postgis: 3.5
          - postgres: 17
            postgis: 3.6
          - postgres: 16
            postgis: 3.6
          - postgres: 15
            postgis: 3.6
          - postgres: 14
            postgis: 3.6

    name: Build Docker image for ${{ matrix.postgres }}-${{ matrix.postgis }}-${{ matrix.pgrouting }}
    runs-on: ubuntu-24.04
    continue-on-error: ${{ (matrix.pgrouting == 'develop') || (matrix.pgrouting == 'main') }}
    env:
      VERSION: ${{ matrix.postgres }}-${{ matrix.postgis }}-${{ matrix.pgrouting }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Build docker image for ${{ env.VERSION }}
      run: make build

    - name: Test docker image for ${{ env.VERSION }}
      run: make test

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      if: ${{ (github.ref == 'refs/heads/master') && (github.event_name != 'pull_request') }}
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - name: Push docker image to Docker Hub
      if: ${{ (github.ref == 'refs/heads/master') && (github.event_name != 'pull_request') }}
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      run: make push
